.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    text-align: left;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
}

.cart-item-image {
    width: 150px;
    border-radius: 10px;
}